html {
    height: 100%;
}

body {
    height: 100%;
    background-color:orange;
    
}
a {
    text-decoration: none;
}
.alienware1{
   padding-bottom: 300px;
    
}
.main {
    height: 100%;
    display:flex;
    justify-content:center;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    display: flex;
    justify-content:space-around;
    
}
.aboutMain{
    color:purple;
}
.navbar{
    
    border-radius:10%;
    border:solid;
    display: flex;
    justify-content:space-around;
    background-color: black;
    
}

#about-link {
    width: 33%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

#index-link {
    width: 33%;
    text-align: center;
    
}


#gallery-link {
    width: 33%;
    text-align: center;
    
}




.footer{
     display: flex;
    justify-content:space-around;
}
.thumbnail{
    width:40%;
    
}
a{
    border:30px purple;
}